#grid-container{
    display: flex;
    flex-wrap: wrap;
}
.grid-square{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}


#grid-container>.grid-square:nth-child(17n){
    width: 100%;
    border: 0;
    height: 0;
}