*{
    box-sizing: border-box;
}

.title{
    font-family: 'MedievalSharp', cursive;
    font-size: 80px;
    text-align: center;
    margin: 50px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border: 15px solid rgb(127, 167, 174);
    box-sizing: content-box;
    

}
.grid-square{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.grid-square:hover{
    cursor: pointer;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
}