*{
    box-sizing: border-box;
}

.title{
    font-family: 'MedievalSharp', cursive;
    font-size: 80px;
    text-align: center;
    margin: 50px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border: 15px solid rgb(127, 167, 174);
    box-sizing: content-box;
    

}
.grid-square{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.grid-square:hover{
    cursor: pointer;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    padding: 10px;

}

.rainbow-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.grid-number-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 10px;
    border: 1px solid black;
}

.clear-div{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}